{% assign home       = site.pages | where: "key", "0" | first %}
{% assign activities = site.pages | where: "key", "1" | first %}
{% assign club       = site.pages | where: "key", "2" | first %}
{% assign telescopes = site.pages | where: "key", "3" | first %}
{% assign projects   = site.pages | where: "key", "4" | first %}
{% assign store      = site.pages | where: "key", "5" | first %}
{% assign blog       = site.pages | where: "key", "6" | first %}
{% assign join_us    = site.pages | where: "key", "7" | first %}
